html,body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  background-color: #000000;
  /* お好みの背景色 */
  display: flex;
  /* フレックスボックスを使用 */
  flex-direction: column;
  /* 要素を縦に配置 */
  height: 100vh;
  /* ビューポートの高さに100%を設定 */
  font-size: 0;
}